<div class="col s12">
  <ul class="tabs">
    <li class="tab col s2">
      <a class="active" href="#sisu"><b>Sisu</b></a>
    </li>
    <li class="tab col s2">
      <a href="#kasutajad"><b>Kasutajad</b></a>
    </li>
    <li class="tab col s2">
      <a href="#tagasiside"><b>Tagasiside</b></a>
    </li>
    <li class="tab col s2">
      <a href="#saavutused"><b>Saavutused</b></a>
    </li>
    <li class="tab col s2">
      <a href="#ulesanded"><b>Ülesanded</b></a>
    </li>
  </ul>
</div>
