<nav class="green">
  <div class="nav-wrapper">
    <a href="#!" data-target="sidenav" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    <div class="left">
      <a href="/">
        <%= pageTitle %>
      </a>
    </div>
  </div>
</nav>
<br>
