<nav>
  <div class="nav-wrapper">
    <a href="void(0);" data-target="sidenav" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-low">
      <li><a href="#!">SIIA LÄHEB MUU INFO</a></li>
      <li><a href="#!">SIIA LÄHEB MUU INFO</a></li>
      <li><a href="#!">SIIA LÄHEB MUU INFO</a></li>
    </ul>
  </div>
</nav>
