<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ./imports/head.ejs %>
    <title>404 - <%= pageTitle %></title>
  </head>
  <body>
    <% include ./imports/navbar.ejs %> <% include ./imports/sidenav.ejs %>

    <div class="container">
      <h5>Asukohta <font color="red"><%= path %></font> ei eksisteeri.</h5>
    </div>
  </body>
</html>
