<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kümneastmed</title>
  </head>
  <body>
    <div>
      <table>
        <thead>
          <th>Nimi</th>
          <th>Aste</th>
          <th>Number</th>
          <th>Kümneaste</th>
        </thead>
        <tbody>
          <% for(aste of astmed) { %>
          <tr>
            <td>
              <%= aste.name %>
            </td>
            <td>
              <%= aste.power %>
            </td>
            <td>
              <%= aste.number %>
            </td>
            <td>
              <%= aste.nr %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
