<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-auth.js"></script>
    <script src="/js/firebase-config.min.js"></script>
    <script src="/js/utils.min.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css"
    />
    <style>
      @import url(https://fonts.googleapis.com/css?family=Open+Sans|Google+Sans);

      * {
        font-family: 'Google Sans', sans-serif;
      }

      #login {
        text-align: center;
        top: 50%;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #fff;
      }

      h1 {
        font-family: 'Open Sans', sans-serif;
      }

      @media only screen and (min-width: 1920px) {
        #login {
          width: 50%;
        }

        body {
          font-size: 2em;
        }
      }
    </style>
    <title>Sisene</title>
  </head>
  <body>
    <div id="login">
      <h1>Sisene veebikeskkonda</h1>
      <div id="firebaseui-auth-container"></div>
      <div id="loader">Laadimine...</div>
    </div>
    <script>
      const next = query().next || '/';

      const ui = new firebaseui.auth.AuthUI(firebase.auth());
      const config = {
        callbacks: {
          signInSuccessWithAuthResult: (authResult, redirectUrl) => {
            return true;
          },
          uiShown: () => {
            document.getElementById('loader').style.display = 'none';
          }
        },
        signInFlow: 'popup',
        signInSuccessUrl: next,
        signInOptions: [firebase.auth.GoogleAuthProvider.PROVIDER_ID],
        tosUrl: '/tos',
        privacyPolicyUrl: '/pp'
      };

      ui.start('#firebaseui-auth-container', config);

      firebase.auth().onAuthStateChanged(user => {
        if (user)
          window.location =
            '/user/post-login?uid=' + user.uid + '&next=' + next;
      });
    </script>
  </body>
</html>
