.manage-launch {
  color: green;
}

.manage-edit {
  color: orange;
}

.manage-delete {
  color: red;
}

.manage-button {
  cursor: pointer;
}

.manage-default, .manage-default:active {
  border: none;
  background-color: #fff;
  cursor: pointer;
}