<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title>Info - <%= pageTitle %></title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
    <div class="container">
      <h5>Tutvustus</h5>
      <p>
        <%= pageTitle %> on interaktiivne füüsika õpikeskkond mehaanika
        kursusele. Õpikeskkond rajati Jõgevamaa Gümnaasiumi praktilise töö
        raames 2018/2019 õppeaastal. Õpikeskkond on veel pooleli! <br />
        Autor: Kerdo Kurs, kontakt:
        <a href="mailto:kerdo@kerdo.me">kerdo@kerdo.me</a>
      </p>
      <h5>Kasutusjuhend</h5>
      <p>
        Kogu navigeerimine käib läbi vasakul asuva "hamburgermenüü". Seal on
        olemas kogu õpikeskkonna materjal ja ülesanded.
      </p>
      <p>
        Kõik saavad materjali vaadata ja ülesandeid lahendada. On ka võimalus
        luua konto, millega jälgida enda saavutusi, järjehoidjaid ja ülesandeid
        ning -punkte. Oma kasutajalehele saab vajutades vasakul menüüs oma
        pildile.
      </p>
      <p>
        Vigade leidmisel anda neist teada
        <a href="/feedback">siin</a>.</br>
        Palun ka täita lühike küsitlus peale õpikeskkonna ülevaatamist <a href="/kusitlus">siin</a>.
      </p>
    </div>
  </body>
</html>
