<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title>Info - <%= pageTitle %></title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
    <div class="container">
      <h5>Tutvustus</h5>
      <p>
        <%= pageTitle %> on interaktiivne füüsika õpikeskkond mehaanika
        kursusele. Õpikeskkond rajati Jõgevamaa Gümnaasiumi praktilise töö
        raames 2018/2019 õppeaastal. Õpikeskkond on veel pooleli! <br />
        Autor: Kerdo Kurs, kontakt:
        <a href="mailto:kerdo@kerdo.me">kerdo@kerdo.me</a>
      </p>
    </div>
  </body>
</html>
