<!DOCTYPE html>
<html lang="et">
  <head>
    <% include ../imports/gtm_head.ejs %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title>Privaatsuspoliitika - <%= pageTitle %></title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
    <div class="container z-depth-1">
      <h3>Privaatsuspoliitika</h3>
      <ul class="browser-default">
        <li>
          Kasutajakonto loomisel n천ustud, et v천ime kasutada Google'i
          autentimisteenustest saadud kasutajainfot (sh. e-posti aadress, Google
          konto nimi, profiilipilt).
        </li>
        <li>Me ei avalda lubak체simata su andmeid.</li>
        <li>
          <a href="/user/settings">S채tetes</a> saad muuta oma kasutajakontoga
          seonduvat informatsiooni meie veebilehel.
        </li>
      </ul>
    </div>
  </body>
</html>
