<!DOCTYPE html>
<html lang="et">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<% include ../imports/head.ejs %>
	<title>Ülesanded > <%= pageTitle %></title>
</head>

<body>
	<% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
	<div class="container">
		<h3>Ülesanded</h3>
		<% for(let exercise of exercises) { %>
		<p>
			<a href="/ulesanded/<%= exercise.category_id %>/<%= exercise.id %>"><%= exercise.title %></a>
		</p>
		<% } %>
	</div>
</body>

</html>