<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title>Edetabel - <%= pageTitle %></title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
    <div class="container">
      <h4>Ülesandepunktide edetabel</h4>
      <table>
        <tr>
          <th>#</th>
          <th>Kasutaja</th>
          <th>Punktid</th>
        </tr>
        <% for(let i = 0; i < users.length; i++) { const user = users[i]; %>
        <tr>
          <td><%= i + 1 %></td>
          <td>
            <% if (user.uid == uid) { %><b
              ><% } %><%= user.displayName %><% if (user.uid == uid) { %></b
            ><% } %>
          </td>
          <td>
            <%= user.metadata.ratio %>
          </td>
        </tr>
        <% } %>
      </table>

      <p>
        * Punktid on arvutatud valemiga:
        <i>punktid = ülesandepunktid / lahendatud ülesannete arv</i>.
      </p>
    </div>
  </body>
</html>
