<!DOCTYPE html>
<html lang="et">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ülesanne > <%= pageTitle %></title>
	<% include ../imports/head.ejs %>
</head>

<body>
	<% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
	<div class="container">
		<h4>
			<font color="<%= correct_answer == answer ? 'green' : 'red' %>">
				<%= correct_answer == answer ? 'Õige' : 'Vale' %>!
			</font>
		</h4>
	</div>
</body>

</html>