<!DOCTYPE html>
<html lang="et">
  <head>
    <% include ../imports/gtm_head.ejs %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title>Ülesanne - <%= pageTitle %></title>
  </head>
  <body>
    <% include ../imports/navbar.ejs %> <% include ../imports/sidenav.ejs %>

    <div class="container"><p>Vabandust, aga see ülesanne pole avatud.</p></div>
  </body>
</html>
