<!DOCTYPE html>
<html lang="et">
  <head>
    <% include ../imports/gtm_head.ejs %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <link rel="stylesheet" href="/css/joonised.min.css" />
    <script src="/js/bookmarks.js"></script>
    <title>
      <%= (topic.title ? topic.title + ' - ' : '') + (topic.category.title ?
      topic.category.title + ' - ' : '') + 'Kerdo UPT' %>
    </title>
  </head>
  <body>
    <div class="container topic z-depth-1">
      <% admin = true; user = null; %> <% if(admin) { %>
      <a
        href="/admin/edit_topic/<%= topic.parent %>:<%= topic.id %>"
        rel="noopener noreferrer"
        class="btn right orange"
        >Redigeeri</a
      >
      <% } %>
      <!--<% if(user != null) { %> <% if(bookmarked) { %>
      <a href="#!" onclick="bookmark(0)" id="bookmark-action"
        ><i class="material-icons" id="bookmark-icon">bookmark</i></a
      >
      <% } else { %>
      <a href="#!" onclick="bookmark(1)" id="bookmark-action"
        ><i class="material-icons" id="bookmark-icon">bookmark_border</i></a
      >
      <% } %> <% } %> -->
      <%- html %>
    </div>
    <div class="modal" id="bookmark-saved-modal">
      <h4>Järjehoidja salvestatud!</h4>
      <a
        href="javascript:$('#bookmark-saved-modal').modal('close');"
        class="btn green"
        >OK</a
      >
    </div>
    <div class="modal" id="bookmark-removed-modal">
      <h4>Järjehoidja eemaldatud!</h4>
      <a
        href="javascript:$('#bookmark-removed-modal').modal('close');"
        class="btn green"
        >OK</a
      >
    </div>
    <div class="modal" id="bookmark-exists-modal">
      <h4>Järjehoidja on juba olemas!</h4>
      <a
        href="javascript:$('#bookmark-removed-modal').modal('close');"
        class="btn green"
        >OK</a
      >
    </div>
  </body>
</html>
