<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="<%= (selectedField ? selectedField.title + ' - ' : '') + (selectedTopic ? selectedTopic.title + ' - ' : '') %>">
    <% include ../imports/head.ejs %>
    <script src="/js/bookmarks.js"></script>
    <title>
      <%= (selectedField ? selectedField.title + ' - ' : '') + (selectedTopic ? selectedTopic.title + ' - ' : '') + pageTitle %>
    </title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %>
    <% include ../imports/navbar.ejs %>
    <div class="container">
      <% if(bookmarked) { %>
      <a href="#!" onclick="bookmark(0)" id="bookmark-action"><i class="material-icons" id="bookmark-icon">bookmark</i></a>
      <% } else { %>
      <a href="#!" onclick="bookmark(1)" id="bookmark-action"><i class="material-icons" id="bookmark-icon">bookmark_border</i></a>
      <% } %>
      <%- data %>
    </div>
  </body>
</html>
