@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Google+Sans|Bai+Jamjuree');

* {
  font-family: 'Google Sans';
}

body {
  background-color: #dedede;
  font-family: 'Google Sans';
}

.container {
  background-color: #fff;
  padding: 20px;
}

.user-profile {
  display: grid;
  grid-template-columns: 20% auto;

  div {
    padding: 10px;
  }
}

.table {
  overflow-x: auto;
}

table {
  thead {
    font-family: 'Bai Jamjuree', sans-serif;
  }

  tbody {
    font-size: 0.8em;
    font-family: 'Roboto Mono', monospace;

    tr {
      height: 10px;
    }
  }
}

textarea {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em !important;
}

nav.white {
  a {
    color: black !important;
  }
}

.search-box {
  margin-left: 40px;
}

.btn {
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Google Sans' !important;
  text-transform: none;
}

.sidenav {
  font-weight: bold;

  .crop {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media only screen and (max-width: 992px) {
  .breadcrumb {
    font-size: 0.8em;
  }

  .main {
    grid-template-areas: 'bookmarks' 'bookmarks' 'achievements' 'achievements' 'materials' 'materials';
  }
}

@media only screen and (min-width: 992px) {
  .main {
    grid-template-areas: 'bookmarks achievements' 'bookmarks achievements' 'materials materials';
  }
}

.tabs .tab a {
  color: #000;
}

.tabs .tab a:hover {
  background-color: #eee;
  color: #000;
}

.tabs .tab a.active {
  color: #000;
}

.tabs .indicator {
  background-color: #4caf50;
}

.tabs .tab a:visited {
  color: #000;
}

.tabs .tab a:focus {
  background-color: #fff !important;
}

.main {
  display: grid;
  grid-row-gap: 20px;
  padding: 20px;

  .container {
    width: calc(100% - 20px);
  }
}

.bookmarks {
  grid-area: bookmarks;
}

.achievements {
  grid-area: achievements;
}

.materials {
  grid-area: materials;
}

.modal {
  padding: 20px;
}

.mobile-search {
  margin-right: 10px !important;
}

.astmed {
  input[type='text']:disabled {
    color: #000 !important;
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #c7c7c7;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
